main .newTweet {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  align-items: center;
  margin: 10px 0px 10px 0px
}

.tweet-form {
  justify-content: center;
  background-color: #f4f1ec;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
};

.tweet-acc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error-container {
  border: solid #f4f1ec;
  align-self: center;
  text-align: center;
  max-width: fit-content;
  padding: 5px;
  margin-bottom: 10px;

}

.button-tweet {
  background-color: blue;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family:"Bungee";
  cursor: pointer;
}

.counter {
  padding: 10px;
  position: relative;
  float: right;
  font-family: "Bungee";
}

.text-box {
  width:100%;
  height:auto;
  background-color: #f4f1ec;
  border:none;
  border-bottom: solid;
  margin-top:10px;
}

