.tweet-box {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column; 
  margin: 10px 0px 10px 0px
}

.tweet-form {
  border: solid;
  align-content: center;
  background-color: #f4f1ec;
  padding: 20px;
};

.tweet-acc {
  display: flex;
  justify-content: space-between;
}

.button-tweet {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family:"Bungee";
  cursor: pointer;
}

.counter {
  padding: 10px;
  position: relative;
  float: right;
  font-family: "Bungee";
}

.text-box {
  width:100%;
  height:auto;
  background-color: #f4f1ec;
  border:none;
  border-bottom: solid;
  margin-top:10px;
}

.tweet-container {
  justify-content: center;
}

article {
  border: solid;
  align-content: center;
  background-color: #f4f1ec;
  margin-bottom: 1.5em;
  padding: 20px;

}
article:hover {
  box-shadow: 10px 10px rgba(64, 87, 161, 0.5);
}

.tweet-account{
  display: none;
}

article:hover .tweet-account{
  display: block;
}


.container-header {
  padding: 10px;
  height : auto;
  background-color: #f4f1ec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.image-name {
  display: flex;
  flex-direction: row;
}
.intial {
  justify-self: flex-end;
}

.header-img {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  padding: 0%;
}


footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.tweet-content{
  border-bottom: solid;
}
.symbols {
  border: none;
  color: darkblue;
  cursor: pointer;
}
