article {
  border: solid;
  align-content: center;
  background-color: #f4f1ec;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

}
article:hover {
  box-shadow: 10px 10px rgba(64, 87, 161, 0.5);
}

.tweet-account{
  display: none;
}

article:hover .tweet-account{
  display: block;
}


.container-header {
  padding: 10px;
  height: auto;
  background-color: #f4f1ec;
  display: flex;
  justify-content: space-between;
  
}
.image-name {
  display: flex;

}

.header-img {

  height: 40px;
  width: 40px;
  padding: 0%;
  margin-top: 0;
}

.image-name h3 {
  margin-top: 0;
  padding-left: 10px;
}


footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.tweet-content{
  border-bottom: solid;
}
.symbols {
  border: none;
  color: darkblue;
}

.symbols:hover {

text-decoration: none;
border-bottom: 2px solid;
padding: 0;
margin: 0;
}