

article {
  border: solid;
  align-content: center;
  background-color: #f4f1ec;
  margin-bottom: 1.5em;
  padding: 20px;

}
article:hover {
  box-shadow: 10px 10px rgba(64, 87, 161, 0.5);
}

.tweet-account{
  display: none;
}

article:hover .tweet-account{
  display: block;
}



.container-header {
  padding: 10px;
  height : auto;
  background-color: #f4f1ec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.header-img {
  height: 60px;
  width: 60px;
  padding: 0%;
  margin: 20px;
}


footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.tweet-content{
  border-bottom: solid;
}
.symbols {
  border: none;
  color: darkblue;
  cursor: pointer;
}